/********************* SETUP *********************/

:root {
    --colorp2: ;
    --colorprimary: #F1F1F1;
    --colorsecundary: #252525;
    --colortertiary: #77AC78;
    --coloraccent: #DBFF7A;
    --ff: 'inter', sans-serif;
    --h1: 600 16px/20px var(--ff);
    --h2: 600 12px/16px var(--ff);
    --h3: 700 20px/24px var(--ff);
    --p: 400 14px var(--ff);
    --transition: 0.3s ease-in-out;
    --shadow-style: rgba(0, 0, 0, 0.25);
    --shadow: 1px 1px 5px 0px var(--shadow-style);
    --shadow-bottom: 0px 1px 5px 0px var(--shadow-style);
    --shadow-right: 1px 0px 5px 0px var(--shadow-style);
    --shadow-spread: 0px 0px 5px 1px var(--shadow-style);
}

h1{font: var(--h1);}
h2{font: var(--h2);}
h3{font: var(--h3);}
p{font: var(--p);}

h1,
h2,
h3,
p {color: var(--colorsecundary);}

html {scroll-behavior: smooth;}

body {
    display: flex;
    flex-flow: column nowrap;
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
    color: inherit;
}

.icon{filter: invert(10%) sepia(8%) saturate(13%) hue-rotate(316deg) brightness(97%) contrast(88%);}

.lupa{filter: invert(57%) sepia(0%) saturate(1%) hue-rotate(218deg) brightness(92%) contrast(87%);}

* {
    margin: 0;
    padding: 0;
}

/********************* HEADER *********************/

.header {
    display: flex;
    align-items: center;
    background-color: var(--colortertiary);
    height: 56px;
    padding-left: 64px;
    box-shadow: var(--shadow-bottom);
    z-index: 2;
}

/* forma que eu achei de remover 4px que estavam ficando abaixo da logo (img = 32px) */
.logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
}

.logo h1 {
    color: #F1F1F1;
    font-size: 24px;
    font-weight: 700;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
}

.logo img {
    height: 32px;
    width: 32px;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
}

.searchbox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: var(--colorprimary);
    border-radius: 10px;
    margin: 0 auto;
    padding: 8px 16px;
    width: 252px;
}

.searchbox p{
    opacity: 70%;
    font-weight: 500;
}

/********************* CONTAINER *********************/

.container {
    display: flex;
    flex-flow: row nowrap;
    /* flex-grow: 1; */
    /* align-items: stretch; */
    /* min-width: 100vh; */
    /* background-color: rgb(227, 140, 25); */
}

/********************* ASIDE *********************/

.aside {
    background-color: var(--colorprimary);
    min-width: 248px;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: var(--shadow-right);
    z-index: 1;
}

.nav ul {padding: 8px 8px 0;}

.nav-item {
    display: flex;
    gap: 12px;
    padding: 16px;
}

.nav-item:hover {
    background-color: var(--colortertiary);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.nav p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
}

hr {
    width: 232px;
    height: 0px;
    height: 2px;
    background-color: var(--colortertiary);
    border: none;
    margin: 16px 0;
    align-self: center;
    border-radius: 5px;
}

.aside h2 {padding-left: 16px;}

/********************* MAIN *********************/

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--colorprimary);
    min-height: 100vh;
    padding: 40px;
    align-items: center;
}

.board-notas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 936px;
    gap: 24px;
}

.board-notas li {
    background-color: var(--colortertiary);
    width: 184px;
    height: auto;
    list-style: none;
    border-radius: 10px;
    padding: 16px;
    box-shadow: var(--shadow);
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
}